* {
    box-sizing: border-box;
}

.home_head {
    width: 100%;
    height: 50px;
    background-color: #01af63;
    position: fixed;
    padding: 6px 2px 0;
    z-index: 10;

    .ant-col-4 {
        padding-left: 2px;

        a {
            line-height: 40px;
            font-size: 16px;
            color: #fff;
        }
    }

    .ant-col-2 {
        color: #fff;
        line-height: 40px;
        font-size: 25px;

        .ant-drawer-wrapper-body{
            display: none;
        }
    }
}
.lunbo {
    background-color: #f2f2f2;
    padding-bottom: 10px;

    .ant-carousel {
        padding-top: 50px;

        img {
            width: 100%;
            height: 180px;
        }
    }
}
 .fenlei {
        background-color: #fff;
        display: flex;
        padding-top: 30px;

        li {
            flex: 1;
            display: flex;
            flex-direction: column;
            text-align: center;

            img {
                width: 50px;
            }

            span {
                font-size: 16px;
                margin: 15px 0;
            }
        }
    }
    .mudidi {
    background-color: #fff;
    padding-top: 15px;
    margin-bottom: 15px;

    h2 {
        text-align: center;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .ant-col {
        position: relative;
        margin-left: 13px;
        margin-bottom: 30px;

        img {
            width: 100%;
            height: 80px;
        }

        p {
            text-align: center;
            margin-top: 10px;
        }
    }

}
