*{
    margin: 0;
    padding: 0;
}
html{font-size:13.33333333vw}
li{
    list-style: none;
}

header .title h1:before {
    content: '\0020';
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background: url(//s.cctcdn.com/m/1604/i/header_logo.png?v=47076d) no-repeat;
    background-size: 100%;
    vertical-align: -2px;
}
.tab-item{
    color: #333;
    float: left;
    line-height: 0.88rem;
    font-size: 0.28rem;
    padding:0 0.32rem ;
    
}
.on{
    color: #01af63;
    border-bottom: solid 1px #01af63;;
    overflow: hidden;
}

.product{
    width: 6.9rem;
    height: 1.8rem;
    padding: 0.3rem;
    background-color: #fff;
    
}
.pro-img{
    position: relative;
    display: inline-block;
}
.pro-img img{
    width: 2.4rem;
    height: 1.8rem;
}
.pro-img span{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 0.24rem;
    color: #fff;
    background-color: rgba(0,0,0,.68);
    padding: 0.06rem 0.1rem;
}
.product-title{
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.product-info{
    width: 4.2rem;
    height: 1.8rem;
    display: inline-block;
    padding-left: 0.3rem;
}
.product-title{
    color: #333;
    font-size: 0.32rem;
}
.product-date{
    color: #999;
    font-size: 0.24rem;
}
.notbug{
    width: 0.44rem;
    height: 0.44rem;
}
.peo-price{
    display: inline-block;
    
}
.pro_tags{
    color: #999;
    font-size: 0.24rem;
    
    position: relative;
}
.peo-price{
    position: absolute;
    bottom: 0;
    right: 0;
}
.price{
    font-size: 0.36rem;
    color: #ff811a;;
    font-weight: 500;
}